<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>
</head>
<body>
    <div>
        @*@using (Html.BeginForm("ProjectOne", "Home", FormMethod.Get))
        {*@
            @*<p><strong>Search Flower Names</strong></p>
            <p><input type="text" name="searchTerm" value="@Request.QueryString["searchTerm"]" /></p>
            <input class="search-button" type="submit" value="Search" />*@
        @*}*@
    </div>
</body>
</html>
