
@{
    ViewBag.Title = "About Us";

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Flower Shop Home Page</title>
    <link rel="stylesheet" href="../../Content/projectonestyle.css">
</head>
<body>
    <div class="page-body">
        <header class="background-image">
        </header>

        <div class="nav" style="display: flex; justify-content: right; flex-wrap: wrap;  ">
            <p class="nav-bar">
                <a href="http://localhost:51403/Home/Register" style="text-decoration: underline;">Register</a>
                <a href="http://localhost:51403/Home/Contact" style="text-decoration: underline;">Contact Us</a>
                <a href="http://localhost:51403/Home/Legal" style="text-decoration: underline;">Legal</a>
                <a href="http://localhost:51403/Home/AboutUs" style="text-decoration: underline;">About Us</a>
                <a href="http://localhost:51403/Home/ProjectOne" style="text-decoration: underline;">Home</a>
            </p>
        </div>

        <div class="container">




            <div class="flower-category"><strong>@ViewBag.Message</strong></div>

            <p>We are a one-stop, full-service flower shop specialzing in stem flowers and flower bouquets for all occasions</p>

            <div><strong>Our History</strong></div>

            <p>
            Lorem ipsum doior sit amat, consectetur ad elit, sed do eius tempor incididunt ut labore et dolore
            magna aliqua Ut enim ad minim veniam quis nostrud exercitation ulfamco laboris nisi ut aliquip ex ea commodo
            consequat Duis aute irure dotot in reprehendent in coluptate veit esse cillum dolore eu fugiat nulla partiatur.
            Exceptaur sint occaecat cupidatat non proident sunt in xupla qui offcia desernut molit anim id est taborum
            Lorem ipsum doior sit amat, consectetur ad elit, sed do eius tempor incididunt ut labore et dolore
            magna aliqua Ut enim ad minim veniam quis nostrud exercitation ulfamco laboris nisi ut aliquip ex ea commodo
            consequat Duis aute irure dolor in reprehenderit in voluptate.
            </p>

            <div><strong>Our Expansion to the Web</strong></div>

            <p>
                Lorem ipsum doior sit amat, consectetur ad elit, sed do eius tempor incididunt ut labore et dolore
                magna aliqua Ut enim ad minim veniam quis nostrud exercitation ulfamco laboris nisi ut aliquip ex ea commodo
                consequat Duis aute irure dotot in reprehendent in coluptate veit esse cillum dolore eu fugiat nulla partiatur.
                Exceptaur sint occaecat cupidatat non proident sunt in xupla qui offcia desernut molit anim id est taborum
                Lorem ipsum doior sit amat, consectetur ad elit, sed do eius tempor incididunt ut labore et dolore
                magna aliqua Ut enim ad minim veniam quis nostrud exercitation ulfamco laboris nisi ut aliquip ex ea commodo
                consequat Duis aute irure dotot in reprehendent in coluptate veit esse cillum dolore eu fugiat nulla partiatur.
                Exceptaur sint occaecat cupidatat non proident sunt in xupla qui offcia desernut molit anim id est taborum
            </p>

            <div class="left-column">




                <div class="content">
                    <div class="flower-items">

                    </div>

                </div>

            </div>
        </div>


    </div>

    </div>
    <div class="footer">
        <a href="http://localhost:51403/Home/Contact">Contact Us</a>
    </div>
</body>
</html>