<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASP.NET</title>
    <link rel="stylesheet" href="../../Content/homestyle.css">
    <link rel="shortcut icon" href="css/images/favicon.svg">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>ASP.NET</h1>
          
        </header>

        <main>
            <h2 class="projects">Will Crawford Projects</h2>
            <ul>
                <li><a href="http://localhost:51403/Home/ProjectOne">Project One</a></li>
                <li><a href="http://localhost:51403/Home/ProjectOne">Project Two</a></li>
                <li><a href="http://localhost:51403/Home/ProjectOne">Project Three</a></li>
                <li><a href="http://localhost:51403/Home/ProjectOne">Project Four</a></li>
                <li><a href="http://localhost:51403/Home/ProjectOne">Project Five</a></li>
                <li><a href="http://localhost:51403/Home/ProjectOne">Project Six</a></li>
                <li><a href="http://localhost:51403/BookStore/HomePage">Final Project</a></li>
            </ul>



        </main>

    </div>
</body>
</html>
