
@{
    ViewBag.Title = "Home";


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Henry's Bookstore</title>
    <link rel="stylesheet" href="../../Content/finalstyle.css">
</head>
<body>
    <div class="container">
        <header>
            <h1 class="background-image">Henry's Bookstore</h1>
            <p class="internal-bar">For INTERNAL Use Only</p>
        </header>
        <div class="grid-container">
            <div class="grid-item">
                <p>Browse Inventory</p>
                <a href="http://localhost:51403/BookStore/Inventory"><img src="../BookImages/inventory.jpg" alt="Browse Inventory"></a>

            </div>
            <div class="grid-item">
                <p>Browse by Author</p>
                <a href="http://localhost:51403/BookStore/Author"><img src="../BookImages/author.jpg" alt="Browse by Author"></a>
            </div>
            <div class="grid-item">
                <p>Browse by Publisher</p>
                <a href="http://localhost:51403/BookStore/Publisher"><img src="../BookImages/publisher.jpg" alt="Browse by Publisher"></a>

            </div>
            <div class="grid-item">
                <p>Browse by Location</p>
                <a href="http://localhost:51403/BookStore/Location"><img src="../BookImages/bookstore.jpg" alt="Browse by Location"></a>

            </div>
        </div>
        <footer>
            <p>This page is created for educational purposes only. No images or content will be published to the internet for public use.</p>
            <p>Book cover images were retrieved from <a href="https://www.barnesandnoble.com">Barnes and Noble</a>.</p>
        </footer>
    </div>
</body>
</html>
