@model IEnumerable<FlowerShop.Models.BookEntityFramework.BOOK>
@{ 

    ViewBag.Title = "Inventory";
    var books = ViewBag.Books as List<FlowerShop.Models.BookEntityFramework.BOOK>; 

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Henry's Bookstore</title>
    <link rel="stylesheet" href="../../Content/finalstyle.css">
</head>
<body>
    <div class="container">
        <header>
            <h1 class="background-image">Henry's Bookstore</h1>
            <p class="internal-bar">For INTERNAL Use Only</p>
        </header>
        <div class="agrid-container">
            <ul style="list-style: none; text-align: left; flex-shrink: inherit; background-color: silver; width: 200px; height: 150px;">
                <li> <a href="http://localhost:51403/BookStore/HomePage" style="text-decoration: underline; list-style: none;">Home</a></li>
                <li> <a href="http://localhost:51403/BookStore/Inventory" style="text-decoration: underline; list-style: none;">Browse Inventory</a></li>
                <li><a href="http://localhost:51403/BookStore/Author" style="text-decoration: underline; list-style: none;">Browse Author</a></li>
                <li><a href="http://localhost:51403/BookStore/Publisher" style="text-decoration: underline; list-style: none;">Browse by Publisher</a></li>
                <li><a href="http://localhost:51403/BookStore/Location" style="text-decoration: underline; list-style: none;">Browse by Location</a></li>
                <li><a href="http://localhost:51403/BookStore/Contact" style="text-decoration: underline; list-style: none;">Contact Management</a></li>
            </ul>
            <div>
                <p>Browse Inventory</p>
                <div class="grid-container-c">

                    @foreach (var book in Model)
                    {
                        var author = book.WROTEs.FirstOrDefault()?.AUTHOR?.AUTHOR_FIRST + " " + book.WROTEs.FirstOrDefault()?.AUTHOR?.AUTHOR_LAST;
                        var inventory = book.INVENTORies.Select(i => new { i.BRANCH.BRANCH_NAME, i.ON_HAND }).ToList();
                        var location = string.Join(",", inventory.Select(i => i.BRANCH_NAME));
                        var onHand = string.Join(",", inventory.Select(i => i.ON_HAND));

                            <a href="http://localhost:51403/BookStore/BookDetials?title=@book.TITLE&type=@book.TYPE&price=@book.PRICE&paperback=@book.PAPERBACK&publisher=@book.PUBLISHER.PUBLISHER_NAME&bookCode=@book.BOOK_CODE&writtenBy=@author&location=@location&onHand=@onHand">
                             <img src="../../BookImages/@book.BOOK_CODE/thumb.jpg" alt="Browse Inventory">    
                            </a>
                    }
                  
                </div>
            </div>
        </div>
        <footer>
            <p>This page is created for educational purposes only. No images or content will be published to the internet for public use.</p>
            <p>Book cover images were retrieved from <a href="https://www.barnesandnoble.com">Barnes and Noble</a>.</p>
        </footer>
    </div>
</body>
</html>

